/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
  position: relative;
  width: 100%;
  z-index: 998;
}


.navbar-custom {
  border: 0;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
  background: #fff;
  padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
  font-size: 11px;
  letter-spacing: 3px;
  color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
  background: none;
  outline: 0;
  color: #31d097;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
  font-size: 20px;
  font-family: Lobster, cursive;
  position: relative;

  i{
    color: #31d097;
  }
}

.navbar-custom .dropdown-menu {
  border: 0;
  border-top: 2px solid #E7746F;
  border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
  padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
  background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #222;
}